body {
    background:blue;
    font: normal 13pt Arial;
}

header {
color: white;
text-align: center;

}

section {
    background: white;
    border-radius: 15px; 
    padding: 13px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);

}

footer {
color:black;
text-align: center; /* deixar o texto centalizado*/
font-style: italic;
}